body {
  background: url('../img/chief.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFF;
  text-align: center;
  font-size: 55px;
  font-family: Phosphate;
  vertical-align: bottom;
}

.item {
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 4;
}

h1 {
  font-size: 100px;
}

.form-control {
  border-radius: 15em;
  background-color: rgba(0,0,0,0.1);
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  text-align: center;
  font-size: 40px;
  color: #F3F315;
}

button {
  color: #FFF;
  border-radius: 15em;
  border: none;
  background-color: rgba(0,0,0,0.1);
}

button:hover {
  color: #168C00;
}

.output-area {
  color: #F3F315;
  text-align: center;
}

#end {
  font-size: 12px;
  text-align: center;
}

.icons {
vertical-align: bottom;
text-align: center;
font-size: 35px;
color: #FFF;
padding: 3em;
}

.icons a {
color: #FFF;
}

a:hover {
color: #168C00;
}
